<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Master Hybrid Suite" parallel="tests" thread-count="3">

    <test name="Selenium-Edge-Desktop">
        <parameter name="Platform" value="Web"/>
        <parameter name="Browser" value="Chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Playwright-Desktop-Chromium">
        <parameter name="Platform" value="Web"/>
        <parameter name="Browser" value="chromium"/>
        <parameter name="Device" value="Desktop"/>
        <classes>
            <class name="playwrightTests.PlaywrightLoginTest"/>
        </classes>
    </test>

    <test name="Playwright-iPhone-Emulation">
        <parameter name="Platform" value="Web"/>
        <parameter name="Browser" value="webkit"/>
        <parameter name="Device" value="iPhone 13"/>
        <classes>
            <class name="playwrightTests.PlaywrightLoginTest"/>
        </classes>
    </test>

    <test name="Appium-Native-Android">
        <parameter name="Platform" value="Mobile_Native"/>
        <parameter name="Device" value="Android Emulator"/>
        <classes>
            <class name="mobileTests.NativeAppTest"/>
        </classes>
    </test>

</suite>