<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Setup and Login" parallel="none" thread-count="1">
<!--    <test name="ChromeTest">-->
<!--        <parameter name="Browser" value="Chrome"/>-->
<!--        <classes>-->
<!--                <class name="tests.LoginTest"></class>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="EdgeTest">
        <parameter name="Browser" value="Edge"/>
        <classes>
                <class name="tests.LoginTest"></class>
        </classes>

<!--    </test>-->
<!--    <test name="Firefox">-->
<!--        <parameter name="Browser" value="Firefox"/>-->
<!--        <classes>-->
<!--            <class name="tests.LoginTest"></class>-->
<!--        </classes>-->

    </test>

</suite>
<suite name="PlaywrightCrossBrowser" parallel="tests" thread-count="1">
<test name="Playwright-Chrome">
    <parameter name="Browser" value="chromium"/>
    <classes><class name="playwrightTests.PlaywrightLoginTest"/></classes>
</test>
<!--<test name="Playwright-Firefox">-->
<!--    <parameter name="Browser" value="firefox"/>-->
<!--    <classes><class name="playwrightTests.PlaywrightLoginTest"/></classes>-->
<!--</test>-->
<!--<test name="Playwright-Safari">-->
<!--    <parameter name="Browser" value="webkit"/>-->
<!--    <classes><class name="playwrightTests.PlaywrightLoginTest"/></classes>-->
<!--</test>-->
</suite>

<suite name="MobileEmulationSuite" parallel="tests" thread-count="2">

<test name="iPhone-Test">
    <parameter name="Browser" value="webkit"/>
    <parameter name="Device" value="iPhone 13"/>
    <classes>
        <class name="playwrightTests.PlaywrightLoginTest"/>
    </classes>
</test>

<test name="Android-Test">
    <parameter name="Browser" value="chromium"/>
    <parameter name="Device" value="Pixel 5"/>
    <classes>
        <class name="playwrightTests.PlaywrightLoginTest"/>
    </classes>
</test>

</suite>