<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Setup and Login" parallel="none" thread-count="1">
<!--    <test name="ChromeTest">-->
<!--        <parameter name="Browser" value="Chrome"/>-->
<!--        <classes>-->
<!--                <class name="tests.LoginTest"></class>-->
<!--        </classes>-->
<!--    </test>-->

    <test name="EdgeTest">
        <parameter name="Browser" value="Edge"/>
        <classes>
                <class name="tests.LoginTest"></class>
        </classes>

    </test>
<!--    <test name="Firefox">-->
<!--        <parameter name="Browser" value="Firefox"/>-->
<!--        <classes>-->
<!--            <class name="tests.LoginTest"></class>-->
<!--        </classes>-->

<!--    </test>-->


    <test name="Playwright-Desktop-Chromium">
        <parameter name="Browser" value="chromium"/>
        <parameter name="Device" value="Desktop"/>
        <classes>
            <class name="playwrightTests.PlaywrightLoginTest"/>
        </classes>
    </test>

    <test name="Mobile-iPhone-Safari">
        <parameter name="Browser" value="webkit"/>
        <parameter name="Device" value="iPhone 13"/>
        <classes>
            <class name="playwrightTests.PlaywrightLoginTest"/>
        </classes>
    </test>

    <test name="Mobile-Android-Chrome">
        <parameter name="Browser" value="chromium"/>
        <parameter name="Device" value="Pixel 5"/>
        <classes>
            <class name="playwrightTests.PlaywrightLoginTest"/>
        </classes>
    </test>

</suite>

<!--<suite name="Playwright Hybrid Suite" parallel="tests" thread-count="3">-->


<!--</suite>-->